<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Amethyst Editor</title>

  <!-- Use Bulma for CSS. -->
  <link href="node_modules/bulma/css/bulma.css" rel="stylesheet">

  <!-- Custom styles for the app. -->
  <link href="style.css" rel="stylesheet">

  <!-- development version, includes helpful console warnings -->
  <script src="node_modules/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <!-- Help message to display when no games are connected. -->
    <section v-if="gameIds.length == 0" class="hero is-info is-fullheight is-fullwidth is-medium">
      <div class="hero-head"></div>
      <div class="hero-body" v-if="gameIds.length == 0">
        <div class="container has-text-centered">
          <h1 class="title">
            Run your game to start debugging
          </h1>
        </div>
      </div>
      <div class="hero-foot"></div>
    </section>

    <!-- Currently selected game. -->
    <div v-if="gameIds.length > 0" class="full-screen">

      <!--
          Tabs for selecting the active game. Auto-hides until there is more than one connected game.
        -->
      <div v-if="gameIds.length > 1" class="header tabs is-boxed is-medium">
        <ul>
          <li v-for="(gameId, index) in gameIds" v-bind:class="{ 'is-active': index === activeGameIndex }">
            <a v-on:click="selectGame(index)">{{ gameId }}</a>
          </li>
        </ul>
      </div>

      <!-- Entities tab. -->
      <div v-if="activeGame().activeTab === 0" class="main horizontal-panel">
        <!-- List of entities. -->
        <nav class="vertical-panel entities-panel">
          <h2 class="panel-heading">
            Entities
            <button v-on:click="activeGame().createEntity()"></button>
          </h2>
          <div class="scrollable">
            <a v-for="entity in activeGame().entities" v-bind:class="{ 'is-active': activeGame().selectedEntity != null && entity.id === activeGame().selectedEntity.id }"
              v-on:click="selectEntity(entity)" class="panel-block">
              <span class="panel-icon">{{ entity.id }}</span>

              <div class="tags">
                <span v-for="component in activeGame().components" v-if="component.data[entity.id] !== undefined"
                  v-bind:class="{
                      'is-primary': component.data[entity.id] !== null,
                      'is-info': component.data[entity.id] === null,
                    }"
                  class="tag">
                  {{ component.name }}
                </span>
              </div>
              <button class="delete" v-on:click="activeGame().destroyEntity(entity)"></button>
            </a>
          </div>
        </nav>

        <!-- Components for the selected entity. -->
        <div v-if="activeGame().selectedEntity != null" class="vertical-panel scrollable">

          <!-- Marker components on the current entity. -->
          <div v-if="activeGame().entityHasTags(activeGame().selectedEntity)" class="tags markers">
            <span v-for="componentType in activeGame().components" v-if="componentType.data[activeGame().selectedEntity.id] === null"
              class="tag is-info is-large">
              {{ componentType.name }}
            </span>
          </div>

          <!-- Regular components on the current entity. -->
          <div v-for="componentType in activeGame().components" v-if="componentType.data[activeGame().selectedEntity.id] != null"
            class="box">
            <h3 class="title is-3">{{ componentType.name }}</h3>
            <data-display :data="componentType.data[activeGame().selectedEntity.id]" v-on:submit="activeGame().editComponent(componentType.name, activeGame().selectedEntity, $event)"></data-display>
          </div>
        </div>

        <div v-if="activeGame().selectedEntity === null" class="vertical-panel"></div>
      </div>

      <!-- Resources tab. -->
      <div v-if="activeGame().activeTab === 1" class="main vertical-panel scrollable">
        <div v-for="resource in activeGame().resources" class="box">
          <h3 class="title is-3">{{ resource.name }}</h3>
          <data-display :data="resource.data" v-on:submit="activeGame().editResource(resource.name, $event)"></data-display>
        </div>
      </div>

      <!-- Log tab. -->
      <div v-if="activeGame().activeTab === 2" class="main vertical-panel scrollable">
        <div v-for="log in activeGame().logs" class="log-line">
          <span class="tag">{{ log.level }}</span> <span class="tag">{{ log.target }}</span> {{ log.message }}
        </div>
      </div>

      <!-- Tabs bar for selecting the current view. -->
      <div class="bottom-bar tabs is-centered is-toggle">
        <ul>
          <li v-for="(tab, index) in tabs" v-bind:class="{ 'is-active': activeGame().activeTab === index }">
            <a v-on:click="selectTab(index)">{{ tab }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script>
    const { app } = require('./renderer.js');
  </script>
</body>

</html>
